* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #292929;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#main-menu {
    padding: 20px;
    border: 2px solid #2e2e4f;
    border-radius: 10px;
    background: linear-gradient(145deg, #292929, rgb(32, 32, 32)); /* subtle color transition in background */

}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    cursor: pointer;
}

h1:hover {
    transform: scale(1.1);
}

.mode-button {
    background-color: #292929;
    color: #ffffff;
    border: 1px solid #6464a5;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5b5baa;
}

button:active {
    background-color: #2e2e4f;
}

#mode-description {
    margin-top: 20px;
    font-size: 1rem;
    color: #d1d1e0;
    font-style: italic;
}

#string-selection {
    padding: 15px;
    border: 2px solid #34345a;
    border-radius: 8px;
    background-color: #292929;
    margin-top: 20px;
}

#string-selection div {
    margin-bottom: 10px;
}

#string-selection label {
    margin-left: 8px;
    font-size: 1rem;
    cursor: pointer;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    accent-color: #ffd700;
    cursor: pointer;
}

#confirm-button {
    background-color: #3b3b5e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
}

#confirm-button:hover {
    background-color: #5555aa;
}

#confirm-button:active {
    background-color: #232344;
}

#game-interface {
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #41416a;
    border-radius: 8px;
    background-color: #292929;
}

#game-interface p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #ffffff;
}

#timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#timer {
    font-size: 1.5rem;
    color: #ffd700;
}

#penalty {
    position: absolute;
    left: 55%;
    margin-left: 16px;
    font-size: 1.5rem;
    color: red;
    font-size: 1.5rem;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#penalty.show {
    opacity: 1;
    transform: translateY(-10px);
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

#feedback-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    display: none;
}

#feedback-image {
    width: 100px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

@keyframes correctAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes incorrectAnimation {
    0% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.correct-feedback {
    animation: correctAnimation 0.5s ease;
}

.incorrect-feedback {
    animation: incorrectAnimation 0.5s ease;
}

.corner-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #292929;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

#end-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #292929;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
}

#end-screen button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #999;
    color: white;
    background-color: #292929;
}

#end-screen button:hover {
    background-color: #5b5baa;
}

#end-screen button:active {
    background-color: #2e2e4f;
}

#fretboard-image {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}